
    @font-face {
        font-family: 'estilo1';
        src:    url(../../assets/fonts/Darloune.ttf) format("ttf"),
                url(../../assets/fonts/Darloune.woff) format("woff");
        font-style: normal;
        font-weight: normal;
    }
    
    @font-face {
        font-family: 'dolcevita';
        src:    url(../../assets/fonts/DolceVita.ttf) format("ttf"),
                url(../../assets/fonts/DolceVita.woff) format("woff");
        font-style: normal;
        font-weight: normal;
    }
    @font-face {
        font-family: 'dolcevitaL';
        src:    url(../../assets/fonts/DolceVitaL.ttf) format("ttf"),
                url(../../assets/fonts/DolceVitaL.woff) format("woff");
        font-style: normal;
        font-weight: normal;
    }
    @font-face {
        font-family: 'dolcevitaB';
        src:    url(../../assets/fonts/DolceVitaB.ttf) format("ttf"),
                url(../../assets/fonts/DolceVitaB.woff) format("woff");
        font-style: normal;
        font-weight: normal;
    }

    
    @font-face {
        font-family: 'estilo2';
        src:    url(../../assets/fonts/HeartLove.ttf) format("ttf"),
                url(../../assets/fonts/HeartLove.woff) format("woff");
        font-style: normal;
        font-weight: normal;
    }
    
    @font-face {
        font-family: 'estilo3';
        src: url(../../assets/fonts/Hello.ttf) format("ttf"),
        url(../../assets/fonts/Hello.woff) format("woff");
        font-style: normal;
        font-weight: normal;
    }
    
    @font-face {
        font-family: 'estilo4';
        src: url(../../assets/fonts/HelloLove.ttf) format("ttf"),
        url(../../assets/fonts/HelloLove.woff) format("woff");
        font-style: normal;
        font-weight: normal;
    }
    