.aboutus{
    &__container{
        display: flex;
    }

    &__white{
        width:50%;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        & img {
            height: 500px;
        }
    }

    &__red{
        width:50%;
        display: flex;
        justify-content: center;
        background-image: $colopal-gradient;
      
        & p{
            width: 60%;
            text-align: justify ;
            color:$colorpal-2;
            font-weight: 600;
        }
    }
}