.navbar{
    &__container img {
        margin-left: 20px;
        height: 63px;    
    }
    
    &__container a {
        font-family: "dolcevita";
    }
    
    &__titulo {
        position: absolute;
        margin-top: -10px;
        margin-left: 5px;
        font-size: 40px;
        font-family: "dolcevita";
        color: $colmonisu;
    }
    &__subtitulo {
        position: absolute;
        margin-top: 18px;
        margin-left: 5px;
        font-family: "estilo3";
        font-size: 24px;
        color: $colmonisu;
    }
}

.sidenav-trigger i{
    color: $colorpal-1;    
}

@media (max-width: 600px) {
    .navbar__container img {
        height: 55px;
    }
}
